@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Questrial');

html, body {
  margin: 0;
  padding: 0;
}

/*hack to fix bg attachment on mobile*/
body:before {
  background: skyblue;
  background: linear-gradient(to bottom, deepskyblue, skyblue);
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

body {
	font-family: "Questrial", sans-serif;
}

input[type="button"] {
  font-family: inherit;
  font-size: inherit;
  padding: 5px 10px;
  margin: 0 5px 10px 5px;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  color: yellow;
  font-size: 28pt;
  text-shadow: 1.5px 1.5px 0px black, -1.5px 1.5px 0px black, -1.5px -1.5px 0px black, 1.5px -1.5px 0px black, 1.5px -0px 0px black, -3px 3px 0px black, 0px 3px 0px black, -1.5px 3px 0px black, 0px -1.5px 0px black, -2.5px 1px 0px black;
}

.lineBreak::after {
  content: "\A";
  white-space: pre;
}


h1 img {
  height: 100px;
  margin: 0 0 -40px 0;
}

.container {
  padding: 0 20px;
}

q::before {
  content: "\201C";
}

q::after {
  content: "\201D";
}

.quoteBox {
  position: relative;
  padding: 30px 30px 20px 30px;
  background: rgba(0,0,0,0.1);
  border-radius: 50px;
  max-width: 550px;
  min-height: 250px;
  margin: 0 auto;
}

.author::before {
  content: "\2014\00A0";
}

.textAndPic {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.textAndPic::after {
  content: "";
  clear: both;
  display: block;
}

.imageContainer {
  height: 300px;
}

.charImg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  max-width: 30vw;
}

.text {
  font-size: 1.1em;
  margin: 0 auto;
  text-align: center;
}

/*hyphenation hack*/
.quote, .author {
  word-break: break-word;
}

.paddingLeft {
  padding-left: 30px;
}

.paddingRight {
  padding-right: 30px;
}

.picAtLeft {
  flex-direction: row;
}

.picAtRight {
  flex-direction: row-reverse;
}

.loadingImage {
  position: absolute;
	height: 170px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 10;
}

.hidden {
  display: none;
}

.controls {
  text-align: center;
}

.bigContainer {
  min-height: calc(100vh - 75px);
}

footer {
  text-align: center;
  color: navy;
  font-size: 0.9em;
  padding: 15px;
  margin-bottom: -15px;
}

footer a {
  color: inherit;
}
